.ng-autocomplete-results {
	position: absolute;
    left: 98px;
    top: 77px;
    z-index: 2;

	width: 422px;
	margin: 12px 0;
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

	.ng-autocomplete-result {
		width: 100%;
		cursor: pointer;

		&.selected {  
			color: #fff;
  			background-color: #0097cf;
		}
	}
}